<div x-data="logsController()">
    <div class="bg-gray-900 text-green-400 p-4 rounded-xl font-mono text-xs h-[400px] overflow-y-auto">
        <template x-for="log in logs">
            <div class="mb-1">
                <span class="text-gray-500" x-text="`[${log.time}]`"></span> 
                <span x-text="log.action"></span>
                <button @click="$store.modal.open('viewLog', log)" class="text-blue-300 ml-2">[View]</button>
            </div>
        </template>
    </div>
</div>
